@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: end;
    box-sizing: border-box;
    font-family: 'Spline Sans Mono', monospace;

    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;

    min-width: fit-content;

    background-color: #F2E5D7;
}


div[data-section="calculator"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

div[data-section="body"] {
    /* background-color: #A8DADC; */
    box-shadow: 2px 2px 24px #14110f6d;
    padding: 15px;
    border-radius: 15px;
    background-color: #14110fd8;
}

.error {
    color: #E63946 !important;
}

/* SECTION: SCREEN */
div[data-section="screen"]{
    width: 270px;
    min-height: auto;

    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: right;

}

/* RESULT */
div[data-section="result"]{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 55px;
    font-weight: 600;
    font-size: 45px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    color: #FFD285;
}
div[data-section="result"]::-webkit-scrollbar {
    display: none; /*  Chrome */
}

/* ENTER */
div[data-section="entry"]{
    min-height: 30px;
    height: max-content;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; 
    overflow-x: auto;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    overflow-wrap: break-word;

    color: #8F5A00;
    
    margin-top: 10px;
}

div[data-section="entry"]::-webkit-scrollbar {
    display: none;
}

/* !SECTION */

/* SECTION: Buttons */
div[data-section="buttons"] {
    display: flex;
    gap: 10px;
    padding: 10px;
}

input {
    border-radius: 300px;
    width: 60px;
    height: 60px;
    font-size: large;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 600;
    border: 0;
    color: #23416C;
    background-color: #ffeccc;
}

input:active {
    border-radius: 30%;
}

/* SECTION: Numbers */
.number:hover {
    color: #14253E;
    background-color: #FFDA99;
}

.number-active {
    color: #14253E;
    background-color: #FFDA99;
    border-radius: 30%;
}
/* !SECTION */

/* SECTION: Operators */
.symbol {
    background-color: #FCAC5D;
}

.symbol:hover {
    background-color: #FB8F23;
    color: #14253E;
}

.symbol-active{
    background-color: #FB8F23;
    color: #14253E;
    border-radius: 30%;
}
/* !SECTION */

/* SECTION: Delete */
.delete {
    background-color: #E63946;
}

.delete:hover {
    background-color: #DA1B2B;
    color: #14253E;
}

.delete-active {
    background-color: #DA1B2B;
    color: #14253E;
    border-radius: 30%;
}
/* !SECTION */

/* SECTION: Backspace */
.backspace{
    background-color: #D37D4A;
}

.backspace:hover {
    background-color: #C56630;
    color: #14253E;
}

.backspace-active {
    background-color: #C56630;
    color: #14253E;
    border-radius: 30%;
}
/* !SECTION */

div[data-section*="col"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div[data-section*="row"] {
    display: flex;
    gap: 10px;
}

div[data-section="symbols"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* !SECTION */

footer {
    text-align: center;
    font-weight: 300;
}